Repository beyond-sw-camp/be08-2nd-BanpoXii-Waruru, pull requests merged in 2024-07, with the labels that each got.

#12 [chore/#11] update gitignore
  backend/.gitignore
Labels: Chore, Feat

#13 [feat/#7] Sales Domain Entity
  backend/src/main/java/waruru/backend/sales/controller/SalesController.java
  backend/src/main/java/waruru/backend/sales/domain/Category.java
  backend/src/main/java/waruru/backend/sales/domain/SaleStatus.java
  backend/src/main/java/waruru/backend/sales/domain/Sales.java
  backend/src/main/java/waruru/backend/sales/domain/SalesRepository.java
  backend/src/main/java/waruru/backend/sales/service/SalesService.java
Labels: Feat, Backend

#14 [feat/#6] User Domain Entity
  backend/src/main/java/waruru/backend/user/controller/UserController.java
  backend/src/main/java/waruru/backend/user/domain/UserEntity.java
  backend/src/main/java/waruru/backend/user/domain/UserRepository.java
  backend/src/main/java/waruru/backend/user/domain/UserRole.java
  backend/src/main/java/waruru/backend/user/domain/UserStatus.java
  backend/src/main/java/waruru/backend/user/service/UserService.java
Labels: Feat, Backend

#15 [feat/#8] Detail Domain Entity
  backend/src/main/java/waruru/backend/detail/domain/Detail.java
  backend/src/main/java/waruru/backend/detail/domain/DetailEntity.java
  backend/src/main/java/waruru/backend/detail/domain/DetailRepository.java
Labels: Feat, Backend

#16 [feat/#9] Business Domain Entity
  backend/src/main/java/waruru/backend/business/controller/BusinessController.java
  backend/src/main/java/waruru/backend/business/domain/Business.java
  backend/src/main/java/waruru/backend/business/domain/BusinessRepository.java
  backend/src/main/java/waruru/backend/business/dto/BusinessRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessResponseDTO.java
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
Labels: Feat, Backend

#17 [feat/#10] Review Domain Entity
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/Review.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/dto/ReviewRequestDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
Labels: Feat, Backend

#24 [feat/#23] Swagger Config
  backend/src/main/java/waruru/backend/common/config/SwaggerConfig.java
Labels: Feat, Backend

#26 [feat/#20] 납부 내역 도메인 기능 구현
  backend/src/main/java/waruru/backend/detail/controller/DetailController.java
  backend/src/main/java/waruru/backend/detail/domain/Detail.java
  backend/src/main/java/waruru/backend/detail/domain/DetailRepository.java
  backend/src/main/java/waruru/backend/detail/dto/DetailDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailResponseDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
Labels: Feat, Backend

#29 [feat/#28] LocalDateTime 클래스 생성
  backend/src/main/java/waruru/backend/common/domain/BaseTimeEntity.java
Labels: Feat, Backend

#30 [feat/#27] ErrorCode, Exception 생성
  backend/src/main/java/waruru/backend/common/exception/ApiControllerAdvice.java
  backend/src/main/java/waruru/backend/common/exception/AuthException.java
  backend/src/main/java/waruru/backend/common/exception/BusinessException.java
  backend/src/main/java/waruru/backend/common/exception/DuplicatedException.java
  backend/src/main/java/waruru/backend/common/exception/ErrorCode.java
  backend/src/main/java/waruru/backend/common/exception/InvalidParameterException.java
  backend/src/main/java/waruru/backend/common/exception/NotFoundException.java
  backend/src/main/java/waruru/backend/common/validator/NameValidator.java
Labels: Feat, Backend

#32 [feat/#21] 매물 거래 관리 기능 구현
  backend/src/main/java/waruru/backend/business/domain/Business.java
  backend/src/main/java/waruru/backend/business/domain/BusinessStatus.java
Labels: Feat, Backend

#33 [feat/#22] 매물 후기 등록 및 조회 기능 구현
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/Review.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/dto/ReviewRequestDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
Labels: Feat, Backend

#34 [feat/#19] Sale 엔티티 수정
  backend/src/main/java/waruru/backend/sale/controller/SaleController.java
  backend/src/main/java/waruru/backend/sale/domain/Category.java
  backend/src/main/java/waruru/backend/sale/domain/Sale.java
  backend/src/main/java/waruru/backend/sale/domain/SaleRepository.java
  backend/src/main/java/waruru/backend/sale/domain/SaleStatus.java
  backend/src/main/java/waruru/backend/sale/dto/SaleDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleListResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/sale/service/SaleService.java
  backend/src/main/java/waruru/backend/sales/controller/SalesController.java
  backend/src/main/java/waruru/backend/sales/domain/Category.java
  backend/src/main/java/waruru/backend/sales/domain/SalesRepository.java
  backend/src/main/java/waruru/backend/sales/service/SalesService.java
Labels: Feat, Backend

#41 [feat/#39] 매물 후기 수정, 삭제, 조회 기능 구현
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/Review.java
  backend/src/main/java/waruru/backend/review/dto/ReviewDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewRequestDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
Labels: Feat, Backend

#42 [feat/#36] Sale 기능 구현 완료
  backend/src/main/java/waruru/backend/sale/controller/SaleController.java
  backend/src/main/java/waruru/backend/sale/domain/Sale.java
  backend/src/main/java/waruru/backend/sale/domain/SaleRepository.java
  backend/src/main/java/waruru/backend/sale/dto/SaleDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleListResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/sale/service/SaleService.java
Labels: Feat, Backend

#44 [Feat/#35] Member 기능 구현 완료
  backend/src/main/java/waruru/backend/member/config/JwtTokenProvider.java
  backend/src/main/java/waruru/backend/member/config/SecurityConfig.java
  backend/src/main/java/waruru/backend/member/config/SecurityUser.java
  backend/src/main/java/waruru/backend/member/config/SecurityUserDetailService.java
  backend/src/main/java/waruru/backend/member/constants/SecurityConstants.java
  backend/src/main/java/waruru/backend/member/controller/MemberController.java
  backend/src/main/java/waruru/backend/member/domain/Member.java
  backend/src/main/java/waruru/backend/member/domain/MemberRepository.java
  backend/src/main/java/waruru/backend/member/domain/MemberRole.java
  backend/src/main/java/waruru/backend/member/domain/MemberStatus.java
  backend/src/main/java/waruru/backend/member/domain/RefreshToken.java
  backend/src/main/java/waruru/backend/member/domain/RefreshTokenRepository.java
  backend/src/main/java/waruru/backend/member/dto/MemberLoginRequestDTO.java
  backend/src/main/java/waruru/backend/member/dto/MemberRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/member/dto/MemberUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/member/filter/JwtAuthenticationFilter.java
  backend/src/main/java/waruru/backend/member/service/LogoutService.java
  backend/src/main/java/waruru/backend/member/service/MemberService.java
  backend/src/main/java/waruru/backend/user/domain/UserRepository.java
  backend/src/main/java/waruru/backend/user/domain/UserRole.java
  backend/src/main/java/waruru/backend/user/domain/UserStatus.java
Labels: Feat, Backend

#52 [chore/#51] 템플릿 추가
  .github/ISSUE_TEMPLATE/design-report.md
  .github/ISSUE_TEMPLATE/setting-report.md
Labels: Chore

#55 [feat/#50] Review Domain TEST
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCommonSetUp.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCreateTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDeleteTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDetailTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewUpdateTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewsListTest.java
Labels: Backend, Test

#56 [Feat/#54] sale test
  backend/src/main/java/waruru/backend/sale/controller/SaleController.java
  backend/src/main/java/waruru/backend/sale/domain/Sale.java
  backend/src/main/java/waruru/backend/sale/dto/SaleListResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/sale/service/SaleService.java
  backend/src/test/java/waruru/backend/sale/service/SaleServiceTest.java
Labels: Feat, Backend, Refactor, Test

#57 [design/#53] 회원가입 페이지 퍼블리싱
  backend/build.gradle
  backend/src/main/java/waruru/backend/common/controller/HomeController.java
  backend/src/main/resources/static/css/bootstrap-grid.css
  backend/src/main/resources/static/css/bootstrap-grid.css.map
  backend/src/main/resources/static/css/bootstrap-grid.min.css
  backend/src/main/resources/static/css/bootstrap-grid.min.css.map
  backend/src/main/resources/static/css/bootstrap-grid.rtl.css
  backend/src/main/resources/static/css/bootstrap-grid.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-grid.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-grid.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.css
  backend/src/main/resources/static/css/bootstrap-reboot.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.min.css
  backend/src/main/resources/static/css/bootstrap-reboot.min.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.css
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-reboot.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.css
  backend/src/main/resources/static/css/bootstrap-utilities.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.min.css
  backend/src/main/resources/static/css/bootstrap-utilities.min.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.css
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.css.map
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.min.css
  backend/src/main/resources/static/css/bootstrap-utilities.rtl.min.css.map
  backend/src/main/resources/static/css/bootstrap.css
  backend/src/main/resources/static/css/bootstrap.css.map
  backend/src/main/resources/static/css/bootstrap.min.css
  backend/src/main/resources/static/css/bootstrap.min.css.map
  backend/src/main/resources/static/css/bootstrap.rtl.css
  backend/src/main/resources/static/css/bootstrap.rtl.css.map
  backend/src/main/resources/static/css/bootstrap.rtl.min.css
  backend/src/main/resources/static/css/bootstrap.rtl.min.css.map
  backend/src/main/resources/static/css/jumbotron-narrow.css
  backend/src/main/resources/static/js/bootstrap.bundle.js
  backend/src/main/resources/static/js/bootstrap.bundle.js.map
  backend/src/main/resources/static/js/bootstrap.bundle.min.js
  backend/src/main/resources/static/js/bootstrap.bundle.min.js.map
  backend/src/main/resources/static/js/bootstrap.esm.js
  backend/src/main/resources/static/js/bootstrap.esm.js.map
  backend/src/main/resources/static/js/bootstrap.esm.min.js
  backend/src/main/resources/static/js/bootstrap.esm.min.js.map
  backend/src/main/resources/static/js/bootstrap.js
  backend/src/main/resources/static/js/bootstrap.js.map
  backend/src/main/resources/static/js/bootstrap.min.js
  backend/src/main/resources/static/js/bootstrap.min.js.map
  backend/src/main/resources/templates/fragments/bodyHeader.html
  backend/src/main/resources/templates/fragments/footer.html
  backend/src/main/resources/templates/fragments/header.html
  backend/src/main/resources/templates/home.html
  backend/src/main/resources/templates/members/createMemberForm.html
Labels: Feat, Design

#60 [feat/#59] Review 기능 확장
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/dto/ReviewDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
Labels: Feat, Backend

#61 [Refactor/#58] sale query 추가, 테스트 마저 생성
  backend/src/main/java/waruru/backend/sale/domain/SaleRepository.java
  backend/src/main/java/waruru/backend/sale/dto/SaleListResponseDTO.java
  backend/src/main/java/waruru/backend/sale/service/SaleService.java
  backend/src/test/java/waruru/backend/sale/service/SaleServiceTest.java
Labels: Backend, Refactor, Test

#63 [feat/#46]business service logic2
  backend/src/main/java/waruru/backend/business/controller/BusinessController.java
  backend/src/main/java/waruru/backend/business/domain/Business.java
  backend/src/main/java/waruru/backend/business/domain/BusinessRepository.java
  backend/src/main/java/waruru/backend/business/dto/BusinessDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessListResponseDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessResponseDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
Labels: Feat, Backend

#65 Test/#45/create detail test
  backend/src/main/java/waruru/backend/detail/domain/Detail.java
  backend/src/main/java/waruru/backend/detail/domain/DetailRepository.java
  backend/src/main/java/waruru/backend/detail/dto/DetailDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/UserRequestDTO.java
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
  backend/src/test/java/waruru/backend/BackendApplicationTests.java
  backend/src/test/java/waruru/backend/detail/service/DetailCommonSetUp.java
  backend/src/test/java/waruru/backend/detail/service/DetailRegisterTest.java
Labels: Backend, Test

#66 [feat/#62] Create Redis Config
  backend/src/main/java/waruru/backend/common/config/RedisConfig.java
Labels: Chore, Backend

#69 [refactor/#46] business service 수정
  backend/src/main/java/waruru/backend/business/dto/BusinessResponseDTO.java
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
Labels: Backend, Refactor

#70 [refactor/#46] update business service
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
Labels: Backend, Refactor

#71 [feat/#50] Review Delete TEST
  backend/src/main/java/waruru/backend/review/dto/ReviewDeleteRequestDTO.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDeleteTest.java
Labels: Backend, Test

#72 Feat/#67/read detail test
  backend/src/test/java/waruru/backend/detail/service/DetailCommonSetUp.java
  backend/src/test/java/waruru/backend/detail/service/DetailReadTest.java
  backend/src/test/java/waruru/backend/detail/service/DetailRegisterTest.java
Labels: Backend, Test

#74 [feat/#73] UpdateDetail Test
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
  backend/src/test/java/waruru/backend/detail/service/DetailUpdateTest.java
Labels: Backend, Test

#76 [feat/#75] DeleteDetail Test
  backend/src/test/java/waruru/backend/detail/service/DetailDeleteTest.java
Labels: Backend, Test

#77 [refactor/#75] import 정리
  backend/src/test/java/waruru/backend/detail/service/DetailDeleteTest.java
Labels: Backend, Refactor

#80 [test/#64] Business 테스트 코드 작성 완료
  backend/src/test/java/waruru/backend/business/service/BusinessCancelTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessCommonSetUp.java
  backend/src/test/java/waruru/backend/business/service/BusinessDeleteTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessRegisterTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessSearchTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessUpdateTest.java
Labels: Backend, Test

#81 Refactor/#79/detail domain refactor
  backend/src/main/java/waruru/backend/detail/controller/DetailController.java
  backend/src/main/java/waruru/backend/detail/domain/Detail.java
  backend/src/main/java/waruru/backend/detail/domain/DetailRepository.java
  backend/src/main/java/waruru/backend/detail/dto/DetailDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailRequestDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailResponseDTO.java
  backend/src/main/java/waruru/backend/detail/dto/DetailUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
  backend/src/test/java/waruru/backend/detail/service/DetailDeleteTest.java
  backend/src/test/java/waruru/backend/detail/service/DetailUpdateTest.java
Labels: Backend, Refactor

#83 [test/#47] create member test (except login, logout, email verificaiton)
  backend/src/test/java/waruru/backend/member/service/MemberServiceTest.java
Labels: Backend, Test

#85 [refactor/#82] Sale Domain 전체 리팩토링
  backend/src/main/java/waruru/backend/business/dto/BusinessResponseDTO.java
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
  backend/src/main/java/waruru/backend/detail/controller/DetailController.java
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
  backend/src/main/java/waruru/backend/sale/controller/SaleController.java
  backend/src/main/java/waruru/backend/sale/domain/Category.java
  backend/src/main/java/waruru/backend/sale/domain/Sale.java
  backend/src/main/java/waruru/backend/sale/domain/SaleRepository.java
  backend/src/main/java/waruru/backend/sale/dto/SaleListResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleResponseDTO.java
  backend/src/main/java/waruru/backend/sale/dto/SaleUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/sale/service/SaleService.java
Labels: Backend, Refactor

#87 [refactor/#86] Review Domain 전체 리팩토링
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/Review.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/main/java/waruru/backend/review/dto/ReviewUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
Labels: Backend, Refactor

#89 refactor: 코드 구조 수정
  backend/src/main/java/waruru/backend/business/controller/BusinessController.java
  backend/src/main/java/waruru/backend/business/domain/Business.java
  backend/src/main/java/waruru/backend/business/dto/BusinessCancelRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessDeleteRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessListResponseDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessRegisterRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessRequestDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessResponseDTO.java
  backend/src/main/java/waruru/backend/business/dto/BusinessUpdateRequestDTO.java
  backend/src/main/java/waruru/backend/business/service/BusinessService.java
Labels: Backend, Refactor

#92 [refactor/#90] 테스트 코드 전체 리팩토링
  backend/src/main/java/waruru/backend/review/dto/ReviewUpdateRequestDTO.java
  backend/src/test/java/waruru/backend/business/service/BusinessCancelTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessCommonSetUp.java
  backend/src/test/java/waruru/backend/business/service/BusinessDeleteTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessRegisterTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessSearchTest.java
  backend/src/test/java/waruru/backend/business/service/BusinessUpdateTest.java
  backend/src/test/java/waruru/backend/detail/service/DetailCommonSetUp.java
  backend/src/test/java/waruru/backend/detail/service/DetailDeleteTest.java
  backend/src/test/java/waruru/backend/detail/service/DetailReadTest.java
  backend/src/test/java/waruru/backend/detail/service/DetailUpdateTest.java
  backend/src/test/java/waruru/backend/member/service/MemberServiceTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCommonSetUp.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCreateTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDeleteTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDetailTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewUpdateTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewsListTest.java
  backend/src/test/java/waruru/backend/sale/service/SaleServiceTest.java
Labels: Backend, Refactor, Test

#94 [feat/#93] edit DTO userNickname, saleName
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
Labels: Feat, Backend

#98 [refactor/#93] review getter
  backend/src/main/java/waruru/backend/review/dto/ReviewResponseDTO.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCommonSetUp.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewCreateTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewDetailTest.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewsListTest.java
Labels: Fix, Backend, Test

#101 [feat/#97] Detail Domain 페이징처리
  backend/src/main/java/waruru/backend/BackendApplication.java
  backend/src/main/java/waruru/backend/detail/controller/DetailController.java
  backend/src/main/java/waruru/backend/detail/service/DetailService.java
  backend/src/test/java/waruru/backend/detail/service/DetailReadTest.java
Labels: Feat, Backend

#102 [feat/#100]: add review paging
  backend/src/main/java/waruru/backend/review/controller/ReviewController.java
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewsListTest.java
Labels: Feat, Backend

#104 [feat/#100] edit reviewRepo
  backend/src/main/java/waruru/backend/review/domain/ReviewRepository.java
  backend/src/main/java/waruru/backend/review/service/ReviewService.java
  backend/src/test/java/waruru/backend/reviewtest/service/ReviewsListTest.java
Labels: Feat, Backend
